<%= error_messages_for 'vote' %>
<div class="box tabular">
    <p><%= f.text_area :question,  :required => true, :cols => 60, :rows => 2 %></p>
    <p><%= f.check_box :revote, :checked => @vote.revote != false %></p>
</div>
